extends layout

block content
    h1= title

    form(method='POST' action='')
        div.form-group
            label(for='first_name') First Name:
            input#first_name.form-control(type='text', placeholder='First Name' name='first_name' required='true' value=(undefined===user ? '' : user.first_name) )
        div.form-group
            label(for='last_name') Last Name:
            input#last_name.form-control(type='text', placeholder='Last Name' name='last_name' required='true' value=(undefined===user ? '' : user.last_name) )
        div.form-group
            label(for='username') Username:
            input#username.form-control(type='text', placeholder='Username' name='username' required='true' value=(undefined===user ? '' : user.username) )
        div.form-group
            label(for='password') Password:
            input#password.form-control(type='password', name='password' required='true' )
        div.form-group
            label(for='confirm_password') Confirm Password:
            input#confirm_password.form-control(type='password', name='confirm_password' required='true' )
        div.form-group
            button.btn.btn-primary(type='submit') Sign Up
    if errors 
        ul
            for error in errors
                li!= error.msg